<%- include('partials/header.ejs') %>

        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="navHome" data-toggle="tab" href = "/">Home</a>
          <a class="nav-item nav-link active" id="navEarth" data-toggle="tab" href = "/earth">Earth</a>
          <a class="nav-item nav-link" id="navMars" data-toggle="tab" href = "/mars">Mars</a>
          <a class="nav-item nav-link" id="navMercury" data-toggle="tab"  href = "/mercury">Mercury</a>
          <a class="nav-item nav-link" id="navVenus" data-toggle="tab"  href = "/venus">Venus</a>
        </div>
        
        <div class = "image-container earth">
            <div class = "text">
                Earth
            </div>
        </div>
        <br>
        <p>The Blue Marble (as pictured above) is one of the most famous pictures of the planet we call home, taken during the Apollo 17 mission in 1972.</p>
        <br>
        <p>Earth resides in the "Goldilocks Zone" provided by our sun, the are which is neither too hot nor cold for liquid water, and thus life, to exist. This is also known as the circumstellar habitable zone.</p>
        <br>
        <p>Earth is calculated to be approximately 4.54 billion years old, with water accreting during the Hadean Era.</p>
        <br>

<%- include('partials/footer.ejs') %>