<%- include('partials/header.ejs') %>

        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="navHome" data-toggle="tab" href = "/">Home</a>
          <a class="nav-item nav-link" id="navEarth" data-toggle="tab" href = "/earth">Earth</a>
          <a class="nav-item nav-link" id="navMars" data-toggle="tab" href = "/mars">Mars</a>
          <a class="nav-item nav-link" id="navMercury" data-toggle="tab"  href = "/mercury">Mercury</a>
          <a class="nav-item nav-link" id="navVenus" data-toggle="tab"  href = "/venus">Venus</a>
        </div>
        
        <div class = "image-container">
            <div class = "text">
                The Solar System
            </div>
        </div>
        <br>

<%- include('partials/footer.ejs') %>