<%- include('partials/header.ejs') %>

        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="navHome" data-toggle="tab" href = "/">Home</a>
          <a class="nav-item nav-link" id="navEarth" data-toggle="tab" href = "/earth">Earth</a>
          <a class="nav-item nav-link active" id="navMars" data-toggle="tab" href = "/mars">Mars</a>
          <a class="nav-item nav-link" id="navMercury" data-toggle="tab"  href = "/mercury">Mercury</a>
          <a class="nav-item nav-link" id="navVenus" data-toggle="tab"  href = "/venus">Venus</a>
        </div>
        
        <div class = "image-container mars">
            <div class = "text">
                Mars
            </div>
        </div>
        <br>
        <p>Mars takes its name from Mars (Roman god of war, taken from Ares in Greek Mythology) and is referred to as the "Red Planet".</p>
        <br>
        <p>Once thought a dried husk, devoid of life, it is now believed to have once contained water as recently as 3.5 billion years ago.</p>
        <br>
        <p>No specific proof of cellular life has been found to date, but some of the "building blocks of life" in the form of various organic compounds have been discovered.</p>
        <br>

<%- include('partials/footer.ejs') %>