body
{
    color: CornflowerBlue;
    background-color: black;
    text-align: center;
}

h1
{
    font-weight: bold;
    font-size: xx-large;
}

p
{
    text-align: left;
    font-size: x-large;
    margin: 0 75px;
}

.image-container
{
  background-image: url("/img/solar-system.jpg");
  background-size: cover;
  position: relative;
  height: 400px;
}

.image-container.mercury
{
  background-image: url("/img/mercury.jpg");
}

.image-container.venus
{
  background-image: url("/img/venus.jpg");
}

.image-container.earth
{
  background-image: url("/img/earth.jpg");
}

.text
{
    background-color: white;
    font-variant: small-caps;
    opacity: .85;
    color: black;
    font-size: 9vw; 
    font-weight: bold;
    margin: 0 auto;
    width:90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

.tab-content
{
    background-color: CornflowerBlue;
    color: white;
    padding: 20px;
}

a
{
    font-size: x-large;
    padding: 20px;
}

a:hover
{
    background-color: CornflowerBlue;
    color: white;
    text-decoration: none;
}